In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
sample_num = 82894; #3181;
feature_num = 42;#(n-1) we don't treat Death as a feature since it's an outcome of interest (or whatever our outcome of interest is)
#Create column names
col_names = [];
for index in range(0,feature_num):
    name = "F"+str(index+1);
    col_names.append(name);

In [4]:
#Load the X data and Y data
X_data = pd.read_csv("/Users/adsriram98/Documents/PARK_LAB/PRS_calc/02-22-24-incidencefeatures.csv", sep=",", names=col_names);
Y_data = pd.read_csv("/Users/adsriram98/Documents/PARK_LAB/PRS_calc/02-22-24-incidencefeatures_Y.csv", sep=",", names=["Y"]);

dataset = pd.concat([X_data, Y_data], axis=1, join='inner');
dataset = dataset.iloc[1: , :]
# print(dataset.shape);
dataset

<ipython-input-4-13ed70d3637a>:2: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  X_data = pd.read_csv("/Users/adsriram98/Documents/PARK_LAB/PRS_calc/02-22-24-incidencefeatures.csv", sep=",", names=col_names);

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F34,F35,F36,F37,F38,F39,F40,F41,F42,Y
1,1.646,1.401,34.9688,2.391,73.3,26.9,1.756,156,17.83,12.33,...,1.741,208.8,4.18,38.3,0,0,0,0,0,0
2,1.0794,1.473,29.9375,2.346,92,35.3,1.258,173,12.06,14.85,...,1.204,374.6,3.96,23.5,0,0,0,0,0,0
3,1.9402,0.653,21.5243,2.557,70.2,33.2,2.133,165,17.17,11.82,...,0.601,250,4.35,140,0,0,0,0,0,0
4,1.5573,1.282,30.1931,2.447,88.7,35.3,1.567,166,13.57,12.34,...,2.028,389.1,7.21,33.8,0,0,0,0,0,0
5,1.3158,0.858,27.3518,2.357,76.4,35.1,1.289,182,16.42,18.49,...,1.535,321.4,4.62,20.4,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82890,1.1383,0.733,31.2057,2.418,75.8,37.3,0.979,168.5,19.97,14.74,...,1.57,412.5,6.32,106.0,0,0,0,1,0,0
82891,1.6255,0.82,22.4432,2.283,65.3,36.2,2.385,169.0,21.35,22.84,...,0.747,262.9,5.9,26.0,0,0,0,0,0,0
82892,1.5412,1.064,26.3043,2.518,57.1,31.3,1.645,159.0,13.81,20.62,...,1.115,290.1,6.19,98.0,0,0,0,0,0,0
82893,1.2628,1.019,29.9085,2.424,90.5,38.5,0.982,181.2,13.16,9.96,...,2.676,459.8,4.95,28.6,0,0,0,0,0,0
82894,1.8818,1.052,28.5323,2.354,59.2,37.4,2.181,160.5,13.58,44.3,...,1.271,570.0,6.41,13.8,0,0,0,1,0,0

In [5]:
import random
selected_nums = random.sample(range(0,82894), sample_num);
selected_nums.sort();
# pd.DataFrame({"RNs":selected_nums}).to_csv("randomly_selected_rows_5.csv");

In [6]:
#Generate input data for MGM.
# dataset = dataset.iloc[selected_nums];
#dataset.to_csv("data/70p_"+str(sample_num)+"samples_XY.txt", index=None, sep="\t");
dataset.to_csv("/Users/adsriram98/Documents/PARK_LAB/PRS_calc/data/42p_"+str(sample_num)+"samples_02-23-24_incidence_XY.csv", index=None, sep=",");

In [7]:
X_data = X_data.iloc[1: , :];
#X_data.to_csv("data/70p_"+str(sample_num)+"samples_X.csv", index=None, sep=",");
X_data.to_csv("/Users/adsriram98/Documents/PARK_LAB/PRS_calc/data/42p_"+str(sample_num)+"samples_02-23-24_incidence_X.csv", index=None, sep=",");

In [8]:
Y_data = Y_data.iloc[1: , :];
#Y_data.to_csv("data/70p_"+str(sample_num)+"samples_Y.csv", index=None, sep=",");
Y_data.to_csv("/Users/adsriram98/Documents/PARK_LAB/PRS_calc/data/42p_"+str(sample_num)+"samples_02-23-24_incidence_Y.csv", index=None, sep=",");